/*Медиа запросы*/

@media only screen and (min-width: 1280px) {
	.humb {
		display: none;
	}
}

@media only screen and (max-width: 1280px) {
	.humb {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	.hero__circle,
	.hero__img {
		opacity: 0.5;
	}

	.humb {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.navigation_header,
	.hero__circle,
	.hero__img {
		display: none;
	}

	.humb {
		display: block;
	}

	.hero__content {
		text-align: center;
	}

	.hero__frame {
		right: 43%;
		top: 80%;
		transform: rotate(-90deg);
	}

	.hero__frame img {
		transform: rotate(90deg);
	}
}

@media only screen and (max-width: 485px) {
	/*85 так как на этом размере нужно менять top*/
	.navigation_header,
	.hero__circle,
	.hero__img {
		display: none;
	}

	.humb {
		display: block;
	}

	.hero__content {
		text-align: center;
	}

	.hero__frame {
		right: 43%;
		top: 80%;
		transform: rotate(-90deg);
	}

	.hero__frame img {
		transform: rotate(90deg);
	}
}
