@import "vendors";
@import "common";
@import "vars";

html,
body,
.wrapper {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	background-color: $color-white;
}

.wrapper .main {
	flex: 1; /*Растягивается на все простроанство по высоте*/
}

.header,
.footer {
	flex-shrink: 0; /*не будет сжиматься*/
}

.container {
	max-width: 1110px;
	width: 100%;
	margin: auto;
}

.header {
	overflow: hidden; /*Чтобы часть круга, которая вылезала скрылась!*/

	&__container {
		position: relative;
		padding-top: 30px;
		padding-bottom: 130px;
	}

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 120px;
	}
}

/*Верхняя панель*/

.header__top {
	white-space: nowrap;
	display: flex;
	justify-content: space-between;
}

.humb {
	border: none;
	width: 32px;
	height: 32px;
	padding: 0;
	background-position: center;
	background-size: cover; /*полное покрытие размера своего родителя*/
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.header__top .logo {
	color: $color-grey;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	display: inline-block;
	white-space: nowrap;
}

.header__top_humb {
	display: flex;
	justify-content: flex-start;
}

//навигация

.information {
	position: relative;
	width: 167px;
	height: 36px;

	&__phone,
	&__text {
		line-height: 14px;
		white-space: nowrap;
	}

	&__phone {
		position: absolute;
		width: 100%;
		font-weight: 500; /*Medium*/
		font-size: 18px;
		text-align: right;
	}

	& a {
		color: $color-grey;
		text-decoration: none;
	}

	&__text {
		position: absolute;
		display: inline-block;
		width: 100%;
		font-size: 11px;
		text-align: right;
		padding: 22px 0 0 0;
	}
}

/*Hero*/

.hero {
	position: relative;

	&__content {
		position: relative;
		z-index: 1;
	}

	&__title {
		font-weight: 600; /*SemiBold*/
		font-size: 48px;
		margin: 0px 0px 16px;
	}

	&__subtitle {
		margin: 0px 0px 60px;
	}

	&__btn {
		min-width: 203px; /*если будет добавляться текст, то она будет расширяться*/
		height: 48px;
	}

	/*Hero__frame*/
	&__frame {
		width: 32px;
		height: 128px;
		position: absolute;
		top: 50%;
		margin-top: -64px;
		right: 0;
		z-index: 2;

		ul {
			padding: 0;
			list-style: none;
			margin-bottom: 0;
		}

		li:not(:last-child) {
			margin-bottom: 16px;
		}

		li {
			transition: 0.15s transform;
		}

		li:hover {
			transform: scale(1.3);
			transition: 0.15s transform;
		}
	}
}

.header__girl {
	position: absolute;
	width: 524px;
	height: 510px;
	bottom: 0;
	right: 90px;
}

.header__girl img {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.header__circle {
	position: absolute;
	content: "";
	right: 0;
	bottom: -110px;
	width: 472px;
	height: 472px;
	border-radius: 50%;
	background-color: $btn-color;
	z-index: 1;
}

/*Main*/
/*О салоне*/

title {
	margin: 0;
	font-weight: bold;
	padding-bottom: 32px;
}

.about {
	padding: 100px 0 50px;

	&__title {
		font-size: 48px;
		margin: 0 0 32px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__subtitle {
		margin: 0;
		padding-bottom: 16px;
		line-height: 32px;
	}

	&__desc {
		margin: 0;
		font-size: 16px;
		padding-bottom: 14px;
		line-height: 26px;
	}

	button {
		color: $color-blue;
		border: none;
		background-color: $color-white;
		font-size: 14px;
	}

	button:hover {
		color: darken($color-blue, 20%);
	}
}

.beauty-video {
	width: 445px;
	height: 295px;
	border-radius: 8px;
	background-position: center;
	background-size: cover; /*полное покрытие размера своего родителя*/
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;

	&:hover .beauty-video__action {
		transform: scale(1.1);
		transition: 0.3s transform;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: rgba(#000, 0.2);
	}

	&__action {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: $color-white;
		position: relative;
		transition: 0.4s;
		padding-top: 75px;
		transition: 0.15s transform;
	}
}

/*Benefits*/

.benefit {
	text-align: center;

	&__svg {
		margin-bottom: 28px;

		img {
			width: 48px;
			height: 48px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 600; /*SemiBold*/
		margin: 0 0 12px;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 22px;
		margin-top: 0;
	}
}

@import "media";

/*Services*/

.section + .section_gray-bg {
	margin-top: 50px;
}

.section {
	padding: 50px 0;

	/*Services*/

	&__services {
		margin-top: -40px;
	}

	&__header {
		font-weight: bold;
		font-size: 48px;
	}

	&__header_small {
		font-size: 36px;
		margin-bottom: 35px;
	}

	/*Price*/

	&__ben-price {
		max-width: 1015px;
		width: 100%;
		margin-top: -32px;
	}

	/*Masters*/
	&__masters {
		margin-top: -40px;
	}

	&_gray-bg {
		padding: 80px 0 80px;
		background-color: #f8f6f7;
	}

	&__header_big {
		font-size: 48px;
		margin-bottom: 32px;
	}

	&__header_paginator {
		font-size: 48px;
	}

	&__title {
		font-size: 16px;
		margin-bottom: 24px;
	}
}

.services {
	margin-top: 40px;

	&__img {
		width: 100%;
		border-radius: 8px;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__subtitle {
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 16px;
	}

	&__btn {
		min-width: 112px; /*если будет добавляться текст, то она будет расширяться*/
		height: 34px;
		font-size: 12px;
		border-radius: 17px;
	}
}

/*Price*/

.navigation_price {
	max-width: 794px;
	margin-bottom: 47px;
}

.navigation_price ul {
	justify-content: flex-start;
}

.navigation .active a {
	color: $color-green;
	text-decoration: underline;
}

.prices {
	max-width: 444px;
	width: 100%;
	margin: 32px 0 0 0;
	display: flex;
	justify-content: space-between;

	&__title {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 8px;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 14px;
		margin: 0;
	}

	&__price {
		font-weight: 600;
		font-size: 20px;
		margin: 0;
		white-space: nowrap; /*чтобы текст не переносился для последней цены*/
		color: $color-green;
	}
}

/*Masters*/

.masters {
	margin-top: 40px;
}

/*.beauty-video_masters::before {
	background: rgba(0, 0, 0, 0);
}*/

.beauty-video_masters {
	width: 255px;
	height: 300px;
	margin-bottom: 20px;
}

.beauty-video__action_masters {
	font-size: 16px;
	text-align: center;
	padding-top: 0;
	visibility: hidden;
	opacity: 0;
}

.beauty-video:hover .beauty-video__action_masters {
	visibility: visible;
	opacity: 1;
	transform: scale(1.1);
	transition: 0.5s transform;
}

.beauty-video a {
	text-decoration: none;
	color: $color-white;
	transition: 0.5s;
}

.masters {
	&__title {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__subtitle {
		font-size: 14px;
		margin-bottom: 20px;
	}

	&__desc {
		font-size: 12px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}

/*Our works*/

.header-paginator {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;

	&__pag {
		margin-top: 23px;
		width: 96px;
		height: 40px;
		display: flex;
		justify-content: space-between;
	}

	&__pag_btn {
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;

		&:hover {
			cursor: pointer;
			background-color: #f8f6f7;
			border-radius: 50%;
		}
	}
}

.ourworks {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto 17px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	//position: relative;
}

.beauty-video_ourworks {
	width: 338px;
	height: 338px;
	transition: 0.5s transform;
}

.beauty-video__action_ourworks {
	font-size: 14px;
	text-align: center;
	padding-top: 56px;
	visibility: hidden;
	opacity: 0;
}

/*.beauty-video_ourworks::before {
	background: rgba(0, 0, 0, 0);
}*/

.beauty-video_ourworks:hover {
	display: inline-block;
	transform: scale(1.1);
	transition: 0.5s transform;

	.beauty-video__action_ourworks {
		visibility: visible;
		opacity: 1;
	}
}

/*Contacts*/

.section_gray-bg {
	padding: 40px 0 40px;
}

.contacts {
	max-width: 1015px;
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.contact {
	max-width: 362px;
	width: 100%;
	padding-top: 38px; //78-40=38px

	&__subtitle {
		font-size: 16px;
		margin-bottom: 20px;
	}

	&_phone {
		line-height: 14px;
	}

	a {
		color: $color-blue;
		font-size: 16px;
	}

	a:hover {
		color: darken($color-blue, 20%);
	}

	&__sites {
		margin: 32px auto 44px 0px; //12+32=44
		font-size: 12px;
		line-height: 14px;
	}

	&__frame {
		width: 32px;
		height: 128px;

		ul {
			padding: 0;
			list-style: none;
			margin-bottom: 0;
		}

		li:not(:last-child) {
			margin-bottom: 16px;
		}

		li {
			transition: 0.15s transform;
		}

		li:hover {
			transform: scale(1.3);
			transition: 0.15s transform;
		}

		&_horizontal {
			padding-right: 128px;
			margin-top: -128px;
			transform: rotate(-90deg);
		}

		img {
			transform: rotate(90deg);
		}
	}
}

.fast-recording {
	max-width: 445px;
	width: 100%;
	padding: 40px 35px;
	border-width: 2px;
	border-radius: 8px;
	border-style: solid;
	border-color: rgb(216, 216, 216);
	background-color: $color-white;
	box-shadow: 0 0 5px 5px rgba(216, 216, 216, 0.5);

	&__title {
		font-size: 18px;
		line-height: 14px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 35px;
	}

	&__form {
		padding-left: 16px;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 0;
	}
}

input {
	max-width: 375px;
	width: 100%;
	border-radius: 4px;
	border-color: #d8d8d8;
	border-width: 1px;
	height: 44px;
	font-size: 14px;
	line-height: 14px;
	color: #a0a0a0;
	text-overflow: ellipsis;
}

form {
	margin-bottom: 16px;
}

/*Footer*/
.footer {
	font-size: 12px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}

	&__title {
		span {
			display: inline-block;
			padding-bottom: 8px;
		}

		a {
			color: $color-blue;

			&:hover {
				color: darken($color-blue, 20%);
			}
		}
	}

	.navigation_footer a {
		font-size: 12px;
	}

	.navigation_footer ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}

	.navigation_footer li {
		margin-right: 28px;
	}
}
